### part 2 - DataFrame and series-snippets
A Pandas DataFrame is a two-dimensional, tabular data structure that resembles a spreadsheet or database table.

Series is a one-dimensional labeled array-like data structure. It can hold data of various types

### intution About DataFrame

In [20]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [21]:
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

### make a DataFrame

In [22]:
import pandas as pd
df = pd.DataFrame(people)

In [23]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [24]:
df['email'] #or df.email

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [25]:
# Series
type(df['email'])
type(df[['last', 'email']])

pandas.core.frame.DataFrame

In [26]:
df[['last', 'email']]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

### To access columns and rows in a Pandas DataFrame or Series

In [27]:
#access column
df.columns

Index(['first', 'last', 'email'], dtype='object')

2 ways:-
iloc is used for integer-based indexing, selecting data by row and column position using integers.
loc is used for label-based indexing, selecting data by row and column labels inclusively.

In [28]:
#acess rows using iloc (integer location)
# df.iloc[0]
# df.iloc[[0,1]]
df.iloc[[0, 1], [0,2]] #[row ],[colums]

   first                    email
0  Corey  CoreyMSchafer@gmail.com
1   Jane        JaneDoe@email.com

In [29]:
# using loc
df.loc[[0, 1], ['first','email']] #[row ],[colums]

   first                    email
0  Corey  CoreyMSchafer@gmail.com
1   Jane        JaneDoe@email.com

### part 3 - indexing-snippets
In pandas, "index" refers to the label or identifier assigned to each row in a DataFrame or Series, which allows for efficient data retrieval and manipulation.

In [44]:
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

In [31]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [47]:
#set_index()
df.set_index('email', inplace=True)
df

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [49]:
df.index

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [51]:
df.loc['CoreyMSchafer@gmail.com', 'last']

'Schafer'

In [50]:
df.iloc[0]

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [52]:
df.reset_index(inplace=True)
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

# part 4 - filtering

In [58]:
people2 = {
    "first": ["abdul", 'mhd', 'mhd'], 
    "last": ["Samad", 'ashif', 'ashif'], 
    "email": ["abdul@gmail.com", 'ashif@email.com', 'ashif@email.com']
}

In [60]:
df2 = pd.DataFrame(people2)
df2

   first   last            email
0  abdul  Samad  abdul@gmail.com
1    mhd  ashif  ashif@email.com
2    mhd  ashif  ashif@email.com

In [62]:
#filtering
filt = (df['last'] == 'Schafer') | (df['first'] == 'John')
df2[filt]

   first   last            email
0  abdul  Samad  abdul@gmail.com
2    mhd  ashif  ashif@email.com

In [66]:
df2.loc[~filt, 'email']

1    ashif@email.com
Name: email, dtype: object