In [1]:
cd 'C:\Users\abdulsamad\OneDrive\Desktop\pandas'

[WinError 123] The filename, directory name, or volume label syntax is incorrect: "'C:\\Users\\abdulsamad\\OneDrive\\Desktop\\pandas'"
C:\Users\abdulsamad\OneDrive\Desktop\pandas

In [2]:
# Consider following code to answer further questions:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

### Q1. Write a code to print the data present in the second row of the dataframe, df.

In [3]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

### Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

#### loc is for label-based indexing and includes both the start and end labels in the selection.iloc is for integer-based indexing and excludes the end position from the selection.

In [4]:
import pandas as pd
data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data, index=['X', 'Y', 'Z'])

# Using loc to select data by labels
print(df.loc['X':'Y', 'A':'B'])
print()
# Using iloc to select data by integer positions
print(df.iloc[0:2, 0:2])

   A  B
X  1  4
Y  2  5

   A  B
X  1  4
Y  2  5

### Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df.then find the output for both new_df.loc[2] and new_df.iloc[2].Did you observe any difference in both the outputs? If so then explain it.

new_df.loc[2] will access the row labeled '2' (according to the new index), and it will return the data in that row as a Pandas Series.

new_df.iloc[2] will access the row at integer position 2 (based on the new index order), and it will return the data in that row as a Pandas Series.

In [5]:
import pandas as pd
data = {'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8]}
df = pd.DataFrame(data)

reindex = [3,0,1,2]
new_df=df.reindex(reindex)

output_loc = new_df.loc[2]
print('output_loc = ')
print(new_df.loc[2])
print('output_iloc =')
print(new_df.iloc[2])
new_df

output_loc =
A    3
B    7
Name: 2, dtype: int64
output_iloc =
A    2
B    6
Name: 1, dtype: int64

   A  B
3  4  8
0  1  5
1  2  6
2  3  7

# Q4. Write a code to find the following statistical measurements for the below dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [6]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.387608  0.168857  0.631622  0.492536  0.417399  0.493387
2  0.036212  0.019299  0.510780  0.849466  0.664641  0.203543
3  0.294941  0.898624  0.802853  0.793206  0.691949  0.189008
4  0.909170  0.833495  0.677521  0.039156  0.783279  0.254168
5  0.248390  0.936392  0.995959  0.526472  0.025662  0.670829
6  0.642602  0.523684  0.468618  0.897320  0.840605  0.463104

In [7]:
# (i) mean of each and every column present in the dataframe.
df1.mean()

column_1    0.419820
column_2    0.563392
column_3    0.681225
column_4    0.599693
column_5    0.570589
column_6    0.379007
dtype: float64

In [8]:
# (ii) standard deviation of column, ‘column_2’
df1['column_2'].std()

0.39439502294528217

### Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [9]:
replacement_string = 'Replacement'
df1.loc[2,'column_2']=replacement_string
try:
    mean_column_2 = df1['column_2'].mean()
    print("Mean of 'column_2':", mean_column_2)
except Exception as e:
    print("Error:", str(e))

print("\nDataFrame after replacing data:")
df1

Error: unsupported operand type(s) for +: 'float' and 'str'

DataFrame after replacing data:

   column_1     column_2  column_3  column_4  column_5  column_6
1  0.387608     0.168857  0.631622  0.492536  0.417399  0.493387
2  0.036212  Replacement  0.510780  0.849466  0.664641  0.203543
3  0.294941     0.898624  0.802853  0.793206  0.691949  0.189008
4  0.909170     0.833495  0.677521  0.039156  0.783279  0.254168
5  0.248390     0.936392  0.995959  0.526472  0.025662  0.670829
6  0.642602     0.523684  0.468618  0.897320  0.840605  0.463104

When you run this code, it will replace the data in the second row of 'column_2' with the string 'Replacement'. However, when attempting to calculate the mean of 'column_2', you may encounter an error or obtain NaN as a result due to the mixed data types in the column. To calculate the mean of 'column_2' successfully, you would need to ensure that the entire column contains numerical values.

# Q6. What do you understand about the windows function in pandas and list the types of windows functions?

Window functions in Pandas are operations that compute statistics or aggregations within a rolling window of data points. Common types of window functions include:

Mean: Calculates the average of values within the window.
Sum: Calculates the sum of values within the window.
Minimum: Finds the minimum value within the window.
Maximum: Finds the maximum value within the window.
Variance: Computes the variance of values within the window.
Standard Deviation: Computes the standard deviation within the window.
Correlation: Calculates correlation between two columns within the window.
Quantile: Computes specified quantiles (e.g., median) within the window.
Exponential Moving Average (EMA): Calculates weighted moving averages.
Rank: Assigns ranks to values within the window based on their order.

In [10]:
import pandas as pd

# Sample time series data
data = {'Date': pd.date_range(start='2023-01-01', periods=10, freq='D'),
        'Value': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}

# Create a DataFrame
df = pd.DataFrame(data)

# Calculate the rolling mean with a window size of 3
df['Rolling_Mean'] = df['Value'].rolling(window=3).mean()

# Calculate the exponential moving average (EMA) with a span of 3
df['EMA'] = df['Value'].ewm(span=3).mean()

# Calculate the rolling sum with a window size of 2
df['Rolling_Sum'] = df['Value'].rolling(window=2).sum()

# Print the DataFrame
print(df)

        Date  Value  Rolling_Mean       EMA  Rolling_Sum
0 2023-01-01      1           NaN  1.000000          NaN
1 2023-01-02      2           NaN  1.666667          3.0
2 2023-01-03      3           2.0  2.428571          5.0
3 2023-01-04      4           3.0  3.266667          7.0
4 2023-01-05      5           4.0  4.161290          9.0
5 2023-01-06      6           5.0  5.095238         11.0
6 2023-01-07      7           6.0  6.055118         13.0
7 2023-01-08      8           7.0  7.031373         15.0
8 2023-01-09      9           8.0  8.017613         17.0
9 2023-01-10     10           9.0  9.009775         19.0

### Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [11]:
import pandas as pd
from datetime import datetime

# Get the current date and time
current_datetime = datetime.now()

# Extract the month and year from the current date
current_month = current_datetime.month
current_year = current_datetime.year

# Create a Pandas Timestamp object
current_timestamp = pd.Timestamp(current_datetime)

# Print the current month and year
print("Current Month:", current_month)
print("Current Year:", current_year)

# Alternatively, you can print the current date and time as well
print("Current Date and Time:", current_timestamp)

Current Month: 10
Current Year: 2023
Current Date and Time: 2023-10-01 16:25:55.792962

### Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [12]:
import pandas as pd

# Get the two dates as input from the user
date_str1 = input("Enter the first date (YYYY-MM-DD): ")
date_str2 = input("Enter the second date (YYYY-MM-DD): ")

# Convert the input strings to Pandas Timestamp objects
try:
    date1 = pd.Timestamp(date_str1)
    date2 = pd.Timestamp(date_str2)
except ValueError:
    print("Invalid date format. Please use YYYY-MM-DD format.")
    exit()

# Calculate the time difference
time_difference = date2 - date1

# Extract days, hours, and minutes from the time difference
days = time_difference.days
hours, remainder = divmod(time_difference.seconds, 3600)
minutes, _ = divmod(remainder, 60)

# Display the result
print(f"Time difference between {date1} and {date2}:")
print(f"Days: {days}")
print(f"Hours: {hours}")
print(f"Minutes: {minutes}")

Enter the first date (YYYY-MM-DD): 2002-09-08
Enter the second date (YYYY-MM-DD): 2003-09-08
Time difference between 2002-09-08 00:00:00 and 2003-09-08 00:00:00:
Days: 365
Hours: 0
Minutes: 0

# Q9. Write a Python program that reads a CSV file containing categorical data and converts a specifiedcolumn to a categorical data type. The program should prompt the user to enter the file path, columnname, and category order, and then display the sorted data.

In [ ]:
import pandas as pd
import numpy as np

# Function to create and save sample data as a CSV file
def create_and_save_sample_data():
    # Prompt the user for the file path to save the data
    file_path = input("Enter the CSV file path to save the sample data: ")

    # Generate sample data
    num_rows = int(input("Enter the number of rows for sample data: "))
    categories = ["Category A", "Category B", "Category C", "Category D"]
    data = {
        "Column1": np.random.choice(categories, num_rows),
        "Column2": np.random.randint(1, 101, num_rows)
    }

    # Create a DataFrame
    df = pd.DataFrame(data)

    # Save the DataFrame to a CSV file
    df.to_csv(file_path, index=False)
    print(f"Sample data saved to '{file_path}'.")

if __name__ == "__main__":
    create_and_save_sample_data()

In [ ]:
import pandas as pd

# Function to read and process the CSV file
def convert_column_to_categorical():
    # Prompt the user for the file path
    file_path = input("Enter the CSV file path: ")

    try:
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)

        # Display the available columns to the user
        print("Available columns in the CSV file:")
        for column in df.columns:
            print(column)

        # Prompt the user for the column name to convert
        column_name = input("Enter the column name to convert to categorical: ")

        # Check if the specified column exists in the DataFrame
        if column_name not in df.columns:
            print(f"Column '{column_name}' does not exist in the CSV file.")
            return

        # Prompt the user for the category order
        category_order = input("Enter the category order (comma-separated): ").split(',')

        # Convert the specified column to a categorical data type
        df[column_name] = df[column_name].astype(pd.CategoricalDtype(categories=category_order, ordered=True))

        # Sort the DataFrame by the categorical column
        sorted_df = df.sort_values(by=[column_name])

        # Display the sorted data
        print("\nSorted Data:")
        print(sorted_df)

        # Prompt the user to save the sorted data to a new CSV file
        save_file = input("Do you want to save the sorted data to a new CSV file? (yes/no): ")
        if save_file.lower() == "yes":
            new_file_path = input("Enter the new file path to save the sorted data: ")
            sorted_df.to_csv(new_file_path, index=False)
            print(f"Sorted data saved to '{new_file_path}'.")

    except FileNotFoundError:
        print(f"File not found at '{file_path}'.")

if __name__ == "__main__":
    convert_column_to_categorical()

### Q10. Write a Python program that reads a CSV file containing sales data for different products andvisualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Function to read CSV file and create a stacked bar chart
def visualize_sales_data():
    # Prompt the user for the file path
    file_path = input("Enter the CSV file path: ")

    try:
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)

        # Check if the DataFrame has columns for 'Product', 'Date', and 'Sales'
        if 'Product' not in df.columns or 'Date' not in df.columns or 'Sales' not in df.columns:
            print("The CSV file should have 'Product', 'Date', and 'Sales' columns.")
            return

        # Convert the 'Date' column to a datetime type
        df['Date'] = pd.to_datetime(df['Date'])

        # Group the data by 'Product' and 'Date' and sum the 'Sales' for each group
        grouped_data = df.groupby(['Product', 'Date'])['Sales'].sum().reset_index()

        # Pivot the table to create a format suitable for a stacked bar chart
        pivot_table = grouped_data.pivot(index='Date', columns='Product', values='Sales').fillna(0)

        # Create a stacked bar chart
        plt.figure(figsize=(10, 6))
        pivot_table.plot(kind='bar', stacked=True)
        plt.title("Sales of Each Product Category Over Time")
        plt.xlabel("Date")
        plt.ylabel("Sales")
        plt.legend(title='Product Category', bbox_to_anchor=(1.05, 1), loc='upper left')
        plt.tight_layout()

        # Show the chart
        plt.show()

    except FileNotFoundError:
        print(f"File not found at '{file_path}'.")

### Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [ ]:
import pandas as pd
from tabulate import tabulate

# Function to calculate statistics and display results
def calculate_and_display_statistics():
    # Prompt the user for the file path
    file_path = input("Enter the file path of the CSV file containing student data: ")

    try:
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)

        # Check if the DataFrame contains 'Test Score' column
        if 'Test Score' not in df.columns:
            print("The CSV file should have a 'Test Score' column.")
            return

        # Calculate mean, median, and mode of the test scores
        mean_score = df['Test Score'].mean()
        median_score = df['Test Score'].median()
        mode_scores = df['Test Score'].mode()

        # Display the results in a table
        table = [
            ["Mean", mean_score],
            ["Median", median_score],
            ["Mode", ', '.join(map(str, mode_scores))]
        ]

        print(tabulate(table, headers=["Statistic", "Value"], tablefmt="grid"))

    except FileNotFoundError:
        print(f"File not found at '{file_path}'.")

if __name__ == "__main__":
    calculate_and_display_statistics()
import pandas as pd
from tabulate import tabulate

# Function to calculate statistics and display results
def calculate_and_display_statistics():
    # Prompt the user for the file path
    file_path = input("Enter the file path of the CSV file containing student data: ")

    try:
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)

        # Check if the DataFrame contains 'Test Score' column
        if 'Test Score' not in df.columns:
            print("The CSV file should have a 'Test Score' column.")
            return

        # Calculate mean, median, and mode of the test scores
        mean_score = df['Test Score'].mean()
        median_score = df['Test Score'].median()
        mode_scores = df['Test Score'].mode()

        # Display the results in a table
        table = [
            ["Mean", mean_score],
            ["Median", median_score],
            ["Mode", ', '.join(map(str, mode_scores))]
        ]

        print(tabulate(table, headers=["Statistic", "Value"], tablefmt="grid"))

    except FileNotFoundError:
        print(f"File not found at '{file_path}'.")