### Q1. List any five functions of the pandas library with execution.

In [2]:
import numpy as np
import pandas as pd

In [3]:
#function 1 : read_csv - used to read the csv file
df=pd.read_csv('titanic_dataset.csv')
#function 2 : set_option - to set various options for controlling the behavior and display of pandas data structures and o/p
pd.set_option('display.max_columns',12)
#function 3 : head() - used to display the first n - no. of data (by default n = 5)
df.head(3)
#function 4 : tail() - used to display the last n - no. of data (by default n = 5)
df.tail(2)
#function 5 : gives statitical summary about the data like mean ,sd,count,min,max..
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

### Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the  DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [4]:
import pandas as pd

def reindex_dataframe_inplace(df):
    # Create a new custom index starting from 1 and incrementing by 2
    new_index = pd.Index(range(1, len(df) * 2, 2)) 
    # Assign the new custom index to the existing DataFrame's index
    df.index = new_index

# Example usage:
data = {'A': [10, 20, 30], 'B': [40, 50, 60], 'C': [70, 80, 90]}
df = pd.DataFrame(data)

reindex_dataframe_inplace(df)
print(df)

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

### Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that  iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The  function should print the sum to the console.

In [5]:
s1=pd.Series(range(1,10,2),name='Values')
df=pd.DataFrame(s1)
df
def sum_df(df,stop):
    print("sum : ",sum(list(df.loc[0:stop+1,'Values'])))
sum_df(df,3)

sum :  25

In [6]:
#or-----------------------------------------------------------------------------------------------------------------------

In [7]:
import pandas as pd

def calculate_sum_of_first_three_values(df):
    # Initialize a variable to store the sum
    total_sum = 0
    
    # Iterate over the first three values in the 'Values' column
    for i, value in enumerate(df['Values']):
        if i < 3:
            total_sum += value
        else:
            break  # Exit the loop after summing the first three values
    
    # Print the sum to the console
    print("Sum of the first three values:", total_sum)

# Example usage:
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Call the function to calculate the sum
calculate_sum_of_first_three_values(df)

Sum of the first three values: 60

### Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column  'Word_Count' that contains the number of words in each row of the 'Text' column.

In [8]:
df=pd.DataFrame({'Text':['abdul samad ms','mathilakath house','po. valapad']})
def add_col_wordcount(df):
    df['Word_Count']=df['Text'].apply(lambda x: len(x.split()))
add_col_wordcount(df)
df

                Text  Word_Count
0     abdul samad ms           3
1  mathilakath house           2
2        po. valapad           2

### Q5. How are DataFrame.size() and DataFrame.shape() different? 
DataFrame.size returns the total number of elements in a DataFrame (rows * columns).

DataFrame.shape returns a tuple with the number of rows and columns in the DataFrame.

In [14]:
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

print(df.size)
print(df.shape)

6
(3, 2)

### Q6. Which function of pandas do we use to read an excel file? 
To read an Excel file in Pandas, use pd.read_excel('your_excel_file.xlsx'), replacing 'your_excel_file.xlsx' with the file path or URL of the Excel file.

In [20]:
df=pd.read_csv('titanic_dataset.csv')

### Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email  addresses in the format 'username@domain.com'. Write a Python function that creates a new column  'Username' in df that contains only the username part of each email address. The username is the part of the email address that appears before the '@' symbol. For example, if the  email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your  function should extract the username from each email address and store it in the new 'Username'  column.

In [48]:
import pandas as pd

data = {'Email': ['john.doe@gamil.com', 'jane.smith@gmail.com', 'abdulsamad@gmail.com']}
df = pd.DataFrame(data)

def extract_username(email):
    return email.split('@')[0]

df['user_name']=df['Email'].apply(extract_username)
df

                  Email   user_name
0    john.doe@gamil.com    john.doe
1  jane.smith@gmail.com  jane.smith
2  abdulsamad@gmail.com  abdulsamad

### Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects  all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The  function should return a new DataFrame that contains only the selected rows. 
For example, if df contains the following values: 

   A   B   C 
   
0  3   5   1 

1  8   2   7 

2  6   9   4 

3  2   3   5 

4  9   1   2

In [55]:
# Sample DataFrame
data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)


def extract_specific(df):
    filt=((df['A']>5) & (df['B']<10))
    return df[filt]

print(df)
print()
print(extract_specific(df))

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

### Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,  median, and standard deviation of the values in the 'Values' column.

In [59]:
import pandas as pd

# Sample DataFrame
data = {'Values': [10, 20, 30, 40, 50,60,770]}
df = pd.DataFrame(data)

def calculate_stats(df):
    # Calculate mean, median, and standard deviation
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_deviation = df['Values'].std()
    
    return mean_value, median_value, std_deviation

# Call the function to calculate statistics
mean, median, std = calculate_stats(df)

# Display the calculated statistics
print(f"Mean: {mean}")
print(f"Median: {median}")
print(f"Standard Deviation: {std}")

Mean: 140.0
Median: 40.0
Standard Deviation: 278.3283432686414

### Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new  column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.  Monday, Tuesday) corresponding to each date in the 'Date' column. 
For example, if df contains the following values: 

         Date 
         
0  2023-01-01 

1  2023-01-02 

2  2023-01-03 

3  2023-01-04 

4  2023-01-05 

Your function should create the following DataFrame: 

         Date    Weekday 
         
0  2023-01-01    Sunday 

1  2023-01-02     Monday 

2  2023-01-03    Tuesday 

3  2023-01-04    Wednesday 

4  2023-01-05    Thursday 

The function should return the modified DataFrame.

In [61]:
import pandas as pd
# Sample DataFrame
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(data)

def add_weekday_column(df):
    # Convert the 'Date' column to datetime objects
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Extract the weekday names and store them in the 'Weekday' column
    df['Weekday'] = df['Date'].dt.strftime('%A')
    
    return df

# Call the function to add the 'Weekday' column
df_with_weekday = add_weekday_column(df)

# Display the modified DataFrame
print(df_with_weekday)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

### Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python  function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [83]:
import pandas as pd

# Sample DataFrame with a 'Date' column containing timestamps
data = {'Date': ['2023-01-01', '2023-01-15', '2023-01-31', '2023-02-10', '2023-03-05']}
df = pd.DataFrame(data)

def select_rows_in_date_range(df, start_date, end_date):
    # Convert the 'Date' column to datetime objects
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Create a boolean mask for the date range
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    
    # Use the mask to select rows within the date range
    selected_rows = df[mask]
    
    return selected_rows

# Define the start and end dates for the range
start_date = '2023-01-01'
end_date = '2023-01-31'

# Call the function to select rows within the date range
selected_df = select_rows_in_date_range(df, start_date, end_date)

# Display the selected DataFrame
print(selected_df)

        Date
0 2023-01-01
1 2023-01-15
2 2023-01-31

### Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to  be imported?
To use the basic functions of pandas in Python, you need to import the pandas library itself. You can do this using the import statement: 

import pandas as pd